ul{
    /* display: flex; */
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

li{
    margin: 10px auto;
    background-color: #faef71;
    display: block;
    width: 170px;
    /* width: 30%; */
    height: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 24px;
    transition: all 0.2s ease 0s;
}

.orders-list-item-wrapper.all {
    margin-top: 25%;
    text-align: justify;
}

li:hover{
    background-color: #e9df6959;
    border: 1px solid #faef71;
    transform: scale(0.9);
}